<mat-table *ngIf="currentPageItems.length" [dataSource]="currentPageItems">

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.code">
    <!--These handle the actual header and cell rendering-->
    <mat-header-cell *matHeaderCellDef> {{column.label}} </mat-header-cell>

    <!--Here follow the different types of columns, e.g. datetime-->

    <mat-cell *matCellDef="let element" mat-cell>
      <span
        *ngIf="(!column.renderer && !column.type) || column.type==='standard'">
        {{element[column.code]}}
      </span>
      <span
        *ngIf="column.type==='datetime'">
        {{element[column.code] | relativeTime}}
      </span>
      <span *ngIf="column.renderer" [innerHTML]="column.renderer(element)"></span>
    </mat-cell>

    <ng-container *ngIf="column.footerRenderer">
      <mat-footer-cell *matFooterCellDef [innerHTML]="column.footerRenderer()"></mat-footer-cell>
    </ng-container>
    <ng-container *ngIf="!column.footerRenderer">
      <mat-footer-cell mat-footer-cell *matFooterCellDef>
        <small style="color: red"><em>Error: Column '{{column.code}}' defined no `footerRenderer` function!</em></small>
      </mat-footer-cell>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="actions.length>0" [matColumnDef]="'actions'">
    <!--These handle the actual header and cell rendering-->
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element" mat-cell>
      <button (click)="action.onClick(element)"
              color="primary"
              *ngFor="let action of actions"
              mat-icon-button>
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!--Don't touch these. They are just "definitions"-->
  <mat-header-row *matHeaderRowDef="displayedColumnCodes"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnCodes;"></mat-row>

  <ng-container *ngIf="hasFooterRow">
    <mat-footer-row *matFooterRowDef="displayedColumnCodes"></mat-footer-row>
  </ng-container>
  <!--Don't touch these. They are just "definitions"-->
</mat-table>

<div *ngIf="isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!currentPageItems.length && !isLoading">
  No results
</div>

<!--Hide the pagination when there are no results on the first page -->
<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="1em"
  class="table-footer"
>
  <div
    fxFlex="1 1 auto"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
    fxLayoutGap="1em"
    class="footer-actions"
  >
    <div
      *ngFor="let action of footerActions"
      class="button-wrapper">
      <button
        mat-raised-button
        (click)="action.onClick()"
        color="primary"
        fxFlex>
        <mat-icon>{{action.icon}}</mat-icon>
        {{action.label}}
      </button>
    </div>

  </div>
  <div
    *ngIf="shouldShowPagination()"
    fxFlex="0 0 auto">
    <mat-paginator
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[]"
      [hidePageSize]="true"
      (page)="goToPage($event.pageIndex)">
    </mat-paginator>
  </div>
</div>
<!-- Break row, so next containers are not affected by fxFlex -->
<div fxLayout="row wrap"></div>
