::ng-deep .clickable {
  cursor: pointer;
}

.sidenav-wrap {
  padding: 0 0.5em;
}

mat-sidenav-content {
  min-height: 100%;
}

.mat-drawer-container {
  //min-height: 1000px;
}

.mat-sidenav-content {
  min-height: 1000px;
}

.cookie-popup {
  border-radius: 30px;
  padding: 30px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  max-width: 300px;
  background: #fafafa;
  z-index: 3;
}
