::ng-deep .clickable {
  cursor: pointer;
}

.sidenav-wrap {
  padding: 0 0.5em;
}

mat-sidenav-content {
  min-height: 100%;
}

.mat-drawer-container {
  //min-height: 1000px;
}

.mat-sidenav-content {
  min-height: 1000px;
}
