<app-header *ngIf="shouldShowHeader()"></app-header>

<mat-sidenav-container *ngIf="appReady" class="example-container">
  <mat-sidenav
    #sidenav
    *ngIf="(user.loginStateChanges|async).loggedIn"
    [(opened)]="menuService.isOpened" mode="side">
    <div class="sidenav-wrap">
      <app-sidenav></app-sidenav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>

<div
  *ngIf="!(this.cookieService.policyAccepted$|async)"
  class="cookie-popup">
  <app-cookie-information-popup></app-cookie-information-popup>
</div>

