<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button aria-label="Home page"
            mat-icon-button>
      <mat-icon (click)="toggleMenu()" class="hamburger">menu</mat-icon>
    </button>
    <span>Finance</span>
    <span class="example-spacer"></span>

    <button [routerLink]="['/home']"
            aria-label="Transactions and accounts list"
            class="navbar-icon"
            mat-icon-button
            routerLinkActive="true">
      <mat-icon>account_balance</mat-icon>
    </button>
    <!--    <mat-icon [routerLink]="['/profile']" class="navbar-icon" routerLinkActive="true">person</mat-icon>-->
    <button (click)="logout()"
            *ngIf="isLoggedIn"
            aria-label="Logout"
            class="navbar-icon"
            mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
    </button>

    <button *ngIf="!isLoggedIn"
            [routerLink]="['/login']"
            aria-label="Login"
            class="navbar-icon"
            mat-icon-button
            routerLinkActive="true">
      <mat-icon>lock_open</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
