.hamburger {
  padding-right: 14px;
}

.navbar-icon {
  padding: 0 14px;
}

.logo, .logo:hover {
  color: #fff;
  text-decoration: none;
  padding-top: 3px;
}

mat-toolbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

mat-toolbar-row > div {
  margin: auto;
}
