.hamburger {
  padding-right: 14px;
}

.navbar-icon {
  padding: 0 14px;
}

.logo, .logo:hover {
  color: #fff;
  text-decoration: none;
  padding-top: 3px;
}

mat-toolbar-row {
  .constrained {

  }
}
