<div
  class="row-divider"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="space-between"
  fxLayoutGap="1em"
>
  <mat-card class="example-card" fxFlex="50%" fxGrow="1" fxShrink="0">
    <mat-card-header>
      <mat-card-title>
        Account balances
      </mat-card-title>

      <span fxFlex fxLayoutAlign="end center">
        <button (click)="openAddAccountModal()" mat-button>
          <mat-icon>add_circle</mat-icon>
        </button>
      </span>
    </mat-card-header>
    <mat-card-content>
      <app-accounts-list #appAccountList></app-accounts-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" fxFlex="50%" fxGrow="1" fxShrink="1">
    <mat-card-header>
      <mat-card-title>Cash flow breakdown by category</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <app-stats-by-category></app-stats-by-category>


    </mat-card-content>
  </mat-card>

</div>

<!--<div class="row-divider">-->
<!--  <mat-card class="example-card">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Latest transactions</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <app-transaction-list></app-transaction-list>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->
