:host {
  display: block;
  padding: 1em;
  background-image: url("/assets/fabian-blank-pElSkGRA2NU-unsplash.jpg");
  background-size: cover;
  min-height: 1024px;
}

// Override the material design card title CSS because
// by default it has some extra left spacing (expects always an avatar)
::ng-deep mat-card-header .mat-card-header-text {
  margin: 0 16px 0 0;
  width: 100%;
  text-align: center;
}

.row-divider {
  margin-bottom: 1em;
}
