.mat-column-actions {
  flex: 0 0 100px;
  justify-content: flex-end;

  span {
    cursor: pointer;
  }
}

.mat-header-row {
  min-height: 35px;
}

.loading {
  width: 100%;

  mat-spinner {
    // Center spinner
    margin: auto;
  }
}


