<mat-table *ngIf="currentPageItems.length" [dataSource]="currentPageItems">

  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.code">
    <!--These handle the actual header and cell rendering-->
    <mat-header-cell *matHeaderCellDef> {{column.label}} </mat-header-cell>

    <!--Here follow the different types of columns, e.g. datetime-->

    <mat-cell *matCellDef="let element" mat-cell>
      <span
        *ngIf="(!column.renderer && !column.type) || column.type==='standard'">
        {{element[column.code]}}
      </span>
      <span
        *ngIf="column.type==='datetime'">
        {{element[column.code] | timeAgo}}
      </span>
      <span *ngIf="column.renderer" [innerHTML]="column.renderer(element)"></span>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="actions.length>0" [matColumnDef]="'actions'">
    <!--These handle the actual header and cell rendering-->
    <mat-header-cell *matHeaderCellDef></mat-header-cell>

    <!--Here follow the different types of columns, e.g. datetime-->

    <mat-cell *matCellDef="let element" mat-cell>
      <button (click)="action.onClick(element)"
              *ngFor="let action of actions"
              mat-icon-button>
        <mat-icon>{{action.icon}}</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!--Don't touch these. They are just "definitions"-->
  <mat-header-row *matHeaderRowDef="displayedColumnCodes"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumnCodes;"></mat-row>
  <!--Don't touch these. They are just "definitions"-->
</mat-table>

<div *ngIf="isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="!currentPageItems.length && !isLoading">
  No results
</div>

<!--Hide the pagination when there are no results on the first page -->
<div
  *ngIf="shouldShowPagination()"
  fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 2em;">
  <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px grid">
    <button
      *ngFor="let action of footerActions"
      mat-raised-button
      (click)="action.onClick()"
      fxFlex="0 1 auto"
      style="margin-left: 10px; margin-right: 10px;">
      <mat-icon>{{action.icon}}</mat-icon>
      {{action.label}}
    </button>
  </div>
  <div
    fxFlex="0 1 auto">
    <mat-paginator
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[]"
      [hidePageSize]="true"
      (page)="goToPage($event.pageIndex)">
    </mat-paginator>
  </div>


</div>
