:host {
  display: block;
}

canvas {
  margin-top: 2em;
}

mat-spinner {
  margin: 2em auto;
}

.no-activity-label {
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
