<form [formGroup]="form" class="example-form">
  <mat-card class="example-card">
    <h2>Register</h2>
    <mat-card-content>
      <table cellspacing="0" class="example-full-width">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input
                [formControlName]="'username'"
                matInput name="username"
                placeholder="Username"
                required
              >
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input [formControlName]="'password'"
                     matInput
                     name="password"
                     placeholder="Password"
                     required
                     type="password"
              >
            </mat-form-field>
          </td>
        </tr>
      </table>

      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions style="text-align: center;">
      <button
        type="button"
        (click)="register().subscribe()" color="primary" mat-raised-button>Register
      </button>
    </mat-card-actions>
    <mat-card-actions style="text-align: center;">
      <p>
        Already registered?
      </p>
      <button
        type="button"
        [routerLink]="['/login']" color="info" mat-raised-button>Login
      </button>
      <p>&nbsp;</p>
    </mat-card-actions>
  </mat-card>
</form>
