.example-card {
  width: 300px;
  margin: 200px auto;
}

.example-full-width {
  width: 100%;
}

:host {
  height: 100%;
  min-height: 99vh;
  display: block;

  ::ng-deep .mat-card-header-text {
    margin: 0 !important;
  }
}
